@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
a:hover, .nav .nav_box .navigation a:hover, .nav .user_need a:hover, .lesson_nav .our_more p, .lesson_recommend .recommend_nav .cateSelect, .projectPath .pathKind table td button {
  color: #35b558; }

.header .header_box .header_logo, .header .header_box .header_search, .header .header_box .header_search .hotwords, .lesson_nav .lesson_frame, .lesson_nav .index_banner, .lesson_nav .our_more, .lesson_recommend .sixLesson, .title, .title h3, .title .qicon, .projectPath, .projectPath .pathKind table, .lesson_system, .lesson_system .course_list .bcimg, .lesson_system .course_list table, .enterprise, .enterprise .enterprise_box, .media, .media .media_box, .footer, .footer .app-down img {
  float: left; }

.header .header_box .header_search .input_search, .header .header_box .header_login {
  font-size: 12px;
  color: #333; }

.header .header_box .header_search .search_button, .header .header_box .header_search .hotwords a:hover, .lesson_nav .index_banner, .lesson_nav .index_banner .banner_box, .lesson_nav .our_more .our_btn, .lesson_recommend .recommend_nav ul li, .title h3, .title .qicon, .projectPath .pathKind table td, .projectPath .pathKind table td button, .lesson_system .course_list .bcimg, .lesson_system .course_list table td, .enterprise .enterprise_box #company img, .media .media_box {
  cursor: pointer; }

.header .header_box .header_search .hotwords a, .header .header_box .header_login, .nav .nav_box .navigation, .nav .nav_box .navigation a, .nav .user_need, .lesson_nav .lesson_frame, .lesson_nav .lesson_frame .lesson_list dd a, .lesson_nav .index_banner, .lesson_nav .our_more, .lesson_recommend .sixLesson ul li, .title .abbrt, .projectPath .pathKind table td button, .enterprise .enterprise_box #company img {
  display: inline-block; }

.lesson_nav .lesson_frame ul, .lesson_nav .our_more, .lesson_recommend .sixLesson ul li, .lesson_recommend .sixLesson .course .li_low, .title .abbrt, .projectPath .pathKind table, .projectPath .pathKind table td, .projectPath .pathKind table td #star_unity, .lesson_system .course_list table, .lesson_system .course_list table td, .lesson_system .course_list table td tr, .enterprise .enterprise_box, .enterprise .enterprise_box #company img, .media .media_box {
  border: 1px solid #e4e4e4; }

.header .header_box .header_search .input_search, .nav .nav_line, .nav .nav_line .line_gradient, .nav, .lesson_nav #buttons, .lesson_recommend .sixLesson ul li .preview, .title, .projectPath, .projectPath .pathKind table, .lesson_system, .lesson_system .course_list table, .enterprise, .enterprise .enterprise_box, .media, .media .media_box, .footer {
  width: 100%; }

.link, a, .header .header_box .header_login a, .nav .nav_box .navigation a, .nav .user_need a, .lesson_nav .lesson_frame .lesson_setup {
  color: #333;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer; }

/* ==================================通用样式=========================================== */
html {
  font-family: Verdana, 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Yahei', Helvetica, arial, 宋体, sans-serif; }

button {
  outline: none; }

.arrow {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 20;
  display: none;
  cursor: pointer; }

/* ==================================头部样式=========================================== */
.header .header_box .header_search .input_search, .header .header_box .header_search .search_button {
  float: left;
  outline: none;
  border: 1px solid #dfdfdf; }

.header, .header .header_box {
  min-height: 60px;
  margin: 0 auto; }
  .header .header_box {
    width: 1000px;
    padding-top: 10px; }
    .header .header_box .header_logo img {
      margin-top: 5px;
      width: 113px;
      height: 41px; }
    .header .header_box .header_search {
      width: 380px;
      height: 38px;
      margin-left: 190px; }
      .header .header_box .header_search .input_search {
        height: 33px;
        margin: 5px auto;
        line-height: 18px;
        text-indent: 15px; }
      .header .header_box .header_search .search_button {
        width: 40px;
        height: 37px;
        margin-top: -42px;
        margin-left: 342px;
        color: #6d6d6d;
        background: url(../images/topsearch2.png) center no-repeat; }
        .header .header_box .header_search .search_button:hover {
          background: #35b558 url(../images/topsearch1.png) center no-repeat;
          border: 1px solid #35b558; }
      .header .header_box .header_search .hotwords {
        font-size: 13px;
        margin-top: -30px;
        margin-left: 175px; }
        .header .header_box .header_search .hotwords a {
          padding: 1px 3px;
          margin-left: 5px;
          color: gray;
          background: #f3f3f3;
          text-decoration: none; }
          .header .header_box .header_search .hotwords a:hover {
            color: gray;
            background: lightgray; }
    .header .header_box .header_login {
      float: right;
      text-align: right;
      line-height: 50px; }
      .header .header_box .header_login span {
        padding: 0 8px; }

/* ==================================导航栏样式=========================================== */
.nav .nav_line, .nav .nav_line .line_gradient {
  height: 2px;
  overflow: hidden; }

.nav {
  height: 42px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e8e8e8;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px; }
  .nav .nav_line {
    background: #f3f3f3; }
    .nav .nav_line .line_gradient {
      background: #35b558;
      background: -webkit-gradient(linear, 10% 10%, 100% 100%, color-stop(0.14, #35b550), color-stop(0.5, #8aca8c), color-stop(1, #2d85ca)); }
  .nav .nav_box {
    width: 1000px;
    margin: 0 auto;
    height: 42px; }
    .nav .nav_box .navigation a {
      line-height: 42px;
      font-size: 14px;
      margin-right: 40px; }
  .nav .user_need {
    width: 405px;
    position: absolute;
    text-align: right; }
    .nav .user_need a {
      line-height: 42px;
      margin-left: 20px; }
      .nav .user_need a img {
        margin-bottom: -2px; }

/* ==================================主体内容样式=========================================== */
.pager {
  margin: 20px auto;
  width: 1000px; }

/* 主要课程样式 */
.lesson_nav .lesson_frame .lesson_setup, .lesson_nav .lesson_frame .lesson_list dt a {
  height: 37px;
  line-height: 37px;
  font-weight: 400; }

.lesson_nav .lesson_frame ul, .lesson_nav .lesson_frame .lesson_setup, .lesson_nav .lesson_frame .lesson_list {
  background-color: #FFF; }

.lesson_nav {
  margin: 0;
  height: 320px; }
  .lesson_nav li:hover .lesson_list {
    display: block; }
  .lesson_nav .lesson_frame {
    position: relative;
    width: 210px;
    height: 307px;
    border-top: 2px solid #35b558;
    border-right: 0;
    overflow: hidden; }
    .lesson_nav .lesson_frame:hover {
      overflow: visible; }
    .lesson_nav .lesson_frame ul {
      list-style-type: none;
      height: 418px;
      margin: 0; }
      .lesson_nav .lesson_frame ul li {
        margin-left: -36px; }
        .lesson_nav .lesson_frame ul li:hover span {
          float: right;
          display: inline-block;
          background: #FFF;
          height: 37px;
          margin-right: -20px;
          width: 20px;
          position: relative;
          z-index: 6; }
    .lesson_nav .lesson_frame .lesson_setup {
      padding: 0 15px;
      border-bottom: 1px solid #F5F5F5;
      margin-left: -4px;
      padding-left: 18px;
      z-index: 5; }
      .lesson_nav .lesson_frame .lesson_setup:hover img {
        display: none; }
      .lesson_nav .lesson_frame .lesson_setup:hover {
        color: #35b558;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        border-left: 2px solid #35b558;
        box-shadow: 0 0 8px #e4e4e4;
        text-indent: 5px; }
      .lesson_nav .lesson_frame .lesson_setup img {
        float: right;
        height: 10px;
        width: 6px;
        margin-top: 13px; }
    .lesson_nav .lesson_frame .lesson_list {
      width: 555px;
      min-height: 410px;
      border: 1px solid #DDD;
      box-shadow: 0 0 8px #DDD;
      margin-left: 201px;
      position: absolute;
      top: -2px;
      z-index: 50;
      display: none; }
      .lesson_nav .lesson_frame .lesson_list:hover {
        display: block; }
      .lesson_nav .lesson_frame .lesson_list dl {
        margin: 0 10px; }
      .lesson_nav .lesson_frame .lesson_list dt a {
        display: block;
        border-bottom: 1px solid #f5f5f5;
        font-size: 14px; }
      .lesson_nav .lesson_frame .lesson_list dd a {
        height: 14px;
        line-height: 14px;
        margin-bottom: 8px;
        padding: 0 7px;
        border-left: 1px solid #e0e0e0;
        white-space: nowrap;
        font-weight: 400;
        position: relative;
        left: -51px; }
  .lesson_nav .index_banner {
    width: 570px;
    height: 305px;
    background-color: lightgray;
    padding-top: 4px;
    position: relative;
    margin-left: 10px;
    overflow: hidden; }
    .lesson_nav .index_banner:hover #banner_left, .lesson_nav .index_banner:hover #banner_right {
      display: block; }
    .lesson_nav .index_banner .banner_box .arrow_left {
      left: 0;
      background: url(../images/banner-left.png) -10px -5px no-repeat; }
      .lesson_nav .index_banner .banner_box .arrow_left:hover {
        display: block;
        background: url(../images/banner-left.png) -10px -65px no-repeat; }
    .lesson_nav .index_banner .banner_box .arrow_right {
      right: 0;
      background: url(../images/banner-right.png) -10px -5px no-repeat; }
      .lesson_nav .index_banner .banner_box .arrow_right:hover {
        display: block;
        background: url(../images/banner-right.png) -10px -65px no-repeat; }
  .lesson_nav #buttons {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 15px; }
    .lesson_nav #buttons span {
      display: inline-block;
      width: 35px;
      height: 2px;
      border-radius: 3px;
      background: #FFF;
      margin: 0 6px;
      cursor: pointer;
      z-index: 20;
      position: relative; }
    .lesson_nav #buttons .on {
      background: #34b558; }
  .lesson_nav #img_box {
    margin-top: -2px;
    position: absolute;
    height: 305px;
    width: 3990px; }
    .lesson_nav #img_box img {
      float: left; }
  .lesson_nav .our_more {
    width: 208px;
    height: 307px;
    border-left: 0; }
    .lesson_nav .our_more h2 {
      font-weight: normal;
      font-size: 15px;
      color: #666;
      margin: 20px; }
    .lesson_nav .our_more p {
      margin: 20px; }
    .lesson_nav .our_more .our_btn {
      width: 168px;
      height: 34px;
      line-height: 34px;
      font-size: 14px;
      margin-left: 20px;
      border: none; }
    .lesson_nav .our_more .about_our {
      width: 209px;
      height: 135px;
      border-bottom: 1px solid #e4e4e4; }
      .lesson_nav .our_more .about_our span {
        padding-right: 5px; }
      .lesson_nav .our_more .about_our .our_btn {
        margin-top: 5px;
        background-color: #7bda95;
        color: #FFF; }
        .lesson_nav .our_more .about_our .our_btn:hover {
          background-color: #35b558;
          transition: background-color 1s; }
    .lesson_nav .our_more .about_vip p {
      margin-top: -10px; }
    .lesson_nav .our_more .about_vip .our_btn {
      background-color: #FFF;
      margin-top: -5px;
      border: solid 1px #7bda95;
      color: #35b558; }
      .lesson_nav .our_more .about_vip .our_btn:hover {
        background-color: #35b558;
        color: #FFF;
        transition: background-color 1s;
        transition: color 1s; }

/* =============================课程推荐样式============================== */
.lesson_recommend {
  width: 1000px;
  margin-top: 30px; }
  .lesson_recommend .recommend_nav ul {
    list-style-type: none;
    text-align: center;
    margin-left: -40px; }
    .lesson_recommend .recommend_nav ul li {
      display: inline-block;
      width: 160px;
      font-size: 14px;
      color: #666;
      padding: 10px 0 12px 0; }
  .lesson_recommend .recommend_nav .cateSelect {
    border-bottom: 2px solid #35b558;
    background: url(../images/index-up.png) center bottom no-repeat;
    background-size: 10px 4px;
    padding: 10px 0 10px 0; }
  .lesson_recommend .sixLesson {
    width: 1000px;
    height: 480px;
    border-top: 2px solid rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 5px #e4e4e4;
    text-align: center;
    margin-top: -16px;
    display: none; }
    .lesson_recommend .sixLesson ul {
      margin-left: -40px;
      margin-top: 0; }
      .lesson_recommend .sixLesson ul li {
        width: 230px;
        height: 216px;
        background-color: #FFF;
        margin: 20px 16px 0 0;
        cursor: pointer; }
        .lesson_recommend .sixLesson ul li:nth-child(4), .lesson_recommend .sixLesson ul li:nth-child(8) {
          margin-right: 0; }
        .lesson_recommend .sixLesson ul li:hover p {
          display: block;
          margin-top: 15px; }
        .lesson_recommend .sixLesson ul li:hover .li_low {
          height: 120px;
          border-bottom: 1px solid #e4e4e4; }
        .lesson_recommend .sixLesson ul li:hover .number {
          display: inline-block;
          font-size: 12px;
          margin-top: 5px;
          margin-left: 35px; }
        .lesson_recommend .sixLesson ul li:hover .course_level span {
          display: block; }
        .lesson_recommend .sixLesson ul li:hover .course_level .icon_level {
          display: inline-block; }
        .lesson_recommend .sixLesson ul li:hover .icon_type {
          margin-top: 13px; }
        .lesson_recommend .sixLesson ul li:hover .playShadow {
          background: rgba(0, 0, 0, 0.4);
          transition: background 0.5s; }
        .lesson_recommend .sixLesson ul li:hover .playShadow span {
          opacity: 1;
          transition: opacity 0.5s; }
        .lesson_recommend .sixLesson ul li:hover .playShadow i {
          opacity: 1;
          transition: opacity 0.5s; }
        .lesson_recommend .sixLesson ul li h5 {
          font-size: 14px;
          font-weight: normal;
          margin: 5px 10px;
          text-align: left; }
        .lesson_recommend .sixLesson ul li p {
          color: gray;
          font-size: 12px;
          line-height: 18px;
          height: 56px;
          background-color: #FFF;
          overflow: hidden;
          text-align: left;
          display: none;
          margin: 5px 10px; }
        .lesson_recommend .sixLesson ul li .preview {
          margin-top: 0;
          height: 130px; }
    .lesson_recommend .sixLesson .course {
      float: left; }
      .lesson_recommend .sixLesson .course .playShadow {
        margin-top: 0;
        width: 230px;
        height: 130px;
        opacity: 1;
        background: transparent;
        z-index: 10;
        position: absolute; }
        .lesson_recommend .sixLesson .course .playShadow span {
          background: url(../images/shoucang.png) 0 0 no-repeat;
          position: relative;
          display: block;
          opacity: 0;
          background-size: 16px 16px;
          width: 25px;
          height: 16px;
          margin-left: 10px;
          margin-top: 10px;
          cursor: pointer; }
        .lesson_recommend .sixLesson .course .playShadow i {
          background: url(../images/play.png) 0 0 no-repeat;
          background-size: 50px 50px;
          width: 50px;
          height: 50px;
          display: block;
          opacity: 0;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -25px;
          margin-top: -25px; }
      .lesson_recommend .sixLesson .course .li_low {
        height: 33px;
        border-top: 0;
        border-bottom: 0;
        margin-left: -1px;
        background-color: #FFF;
        position: relative;
        z-index: 5;
        color: gray; }
  .lesson_recommend .course_info {
    display: block; }
    .lesson_recommend .course_info i {
      background: url(../images/clok.png) 0 0 no-repeat;
      width: 14px;
      height: 14px;
      display: block;
      float: left;
      margin-top: 6px;
      margin-left: 10px;
      background-size: 14px 14px; }
    .lesson_recommend .course_info span {
      font-size: 12px;
      float: left;
      margin-left: 10px;
      margin-top: 5px; }
    .lesson_recommend .course_info .number {
      display: none; }
  .lesson_recommend .course_level {
    float: left; }
    .lesson_recommend .course_level span {
      font-size: 12px;
      float: left;
      margin-left: 10px;
      margin-top: 9px;
      display: none; }
    .lesson_recommend .course_level .icon_level {
      width: 14px;
      height: 14px;
      display: none;
      float: left;
      margin-top: 10px;
      margin-left: 10px; }
  .lesson_recommend .icon_type {
    display: block;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 12px;
    margin-top: 8px; }
  .lesson_recommend .onLesson {
    display: block; }

/* =========================实战路径图和知识体系图图标题栏样式================================ */
.title {
  height: 40px;
  margin: 15px auto; }
  .title h3 {
    font-size: 17px;
    font-weight: normal;
    cursor: pointer;
    margin-top: 13px; }
  .title a {
    float: right;
    text-decoration: none;
    color: #2d85ca;
    margin-top: 15px; }
  .title .qNote {
    margin-left: 100px;
    width: 250px;
    height: 100%; }
  .title .qicon {
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    color: #FFF;
    background: #999;
    text-align: center;
    border-radius: 50%;
    display: block;
    width: 13px;
    height: 13px;
    margin: 19px 10px 0; }
  .title .abbrt {
    font-size: 12px;
    color: #666;
    padding: 2px 4px;
    position: relative;
    box-shadow: 1px 1px 3px #ccc;
    margin-top: 13px;
    opacity: 0; }

/* ===============================实战路径图==================================== */
.projectPath {
  height: 410px;
  margin: 20px auto; }
  .projectPath .pathKind table {
    text-align: center;
    border-collapse: separate; }
    .projectPath .pathKind table td:hover {
      border: 1px solid #35b558;
      border-left: 1px solid #35b558; }
    .projectPath .pathKind table td img {
      margin-top: 30px;
      width: 70px;
      height: 70px; }
    .projectPath .pathKind table td h5 {
      font-size: 15px;
      font-weight: normal;
      color: #333;
      margin-bottom: 30px; }
    .projectPath .pathKind table td p {
      font-size: 12px;
      color: #333;
      line-height: 20px;
      height: 20px;
      width: 199px;
      margin: 0 auto; }
    .projectPath .pathKind table td button {
      margin-top: 30px;
      width: 140px;
      height: 34px;
      line-height: 30px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 16px;
      background: #f3fff6;
      border: 1px solid #35b558; }
      .projectPath .pathKind table td button:hover {
        background: #35b558;
        transition: background 0.8s;
        color: #fff;
        outline: 0; }
    .projectPath .pathKind table td #star_unity {
      background: #f5f5f5;
      color: gray;
      outline: 0; }
      .projectPath .pathKind table td #star_unity:hover {
        background: #DDD; }

/* ===============================知识体系图样式=================================== */
.lesson_system {
  height: 500px;
  margin: 20px auto; }
  .lesson_system .course_list .bcimg {
    position: relative;
    z-index: -10; }
  .lesson_system .course_list table {
    text-align: center;
    background: url(../images/lesson.png);
    background-size: 100%;
    position: relative;
    z-index: 50; }
    .lesson_system .course_list table td {
      width: 167px;
      height: 120px;
      overflow: hidden; }
      .lesson_system .course_list table td tr {
        width: 167px;
        height: 120px; }
  .lesson_system .course_list .backface {
    width: 167px;
    height: 120px;
    background-color: whitesmoke;
    float: left;
    opacity: 0;
    /* transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;*/ }
    .lesson_system .course_list .backface:hover {
      animation: rotate 0.6s forwards;
      -webkit-animation: rotate 0.6s forwards; }
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    opacity: 0; }
  50% {
    transform: rotateY(90deg);
    opacity: 1; }
  100% {
    transform: rotateY(0deg);
    opacity: 1; } }
    .lesson_system .course_list .backface span {
      display: block;
      font-size: 14px;
      color: #666;
      margin-bottom: 10px;
      margin-top: 30px;
      font-weight: 400; }
    .lesson_system .course_list .backface button {
      font-size: 16px;
      color: #FFF;
      text-align: center;
      border-radius: inherit;
      background: #35b558;
      width: 140px;
      height: 36px;
      cursor: pointer;
      border: 0; }
      .lesson_system .course_list .backface button:hover {
        animation: soft 0.8s forwards;
        -webkit-animation: soft 0.8s forwards; }
@keyframes soft {
  from {
    background: #35b558; }
  to {
    background: #7bda95; } }
/* ===============================战略合作企业============================================== */
.enterprise {
  margin: 100px auto;
  height: 150px; }
  .enterprise .enterprise_box {
    margin-top: 5px;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 25px;
    position: relative; }
    .enterprise .enterprise_box:hover #company_left, .enterprise .enterprise_box:hover #company_right {
      display: block; }
    .enterprise .enterprise_box #company_box {
      width: 947px;
      height: 52px;
      overflow: hidden;
      position: relative; }
    .enterprise .enterprise_box #company {
      position: absolute;
      width: 3500px; }
      .enterprise .enterprise_box #company img {
        margin-left: 3px;
        box-sizing: border-box; }
    .enterprise .enterprise_box #company_left {
      left: 0;
      background: url(../images/banner-left.png) -10px -5px no-repeat; }
      .enterprise .enterprise_box #company_left:hover {
        display: block;
        background: url(../images/banner-left.png) -10px -65px no-repeat; }
    .enterprise .enterprise_box #company_right {
      right: 0;
      background: url(../images/banner-right.png) -10px -5px no-repeat; }
      .enterprise .enterprise_box #company_right:hover {
        display: block;
        background: url(../images/banner-right.png) -10px -65px no-repeat; }

/* ==================================媒体报道======================================== */
.media {
  margin: -50px 0 80px 0;
  height: 150px; }
  .media .media_box {
    margin-top: 5px;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 25px;
    position: relative; }
    .media .media_box .media_item {
      margin-top: -8px;
      position: relative;
      overflow: hidden;
      text-align: center; }
      .media .media_box .media_item img {
        margin-left: -1418px; }

/* ==================================底部区域============================================= */
.footer {
  height: 225px;
  margin-bottom: 50px;
  background: #fafafa;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 25px; }
  .footer .footer_info {
    width: 1000px;
    height: 239px;
    margin: 0 auto; }
    .footer .footer_info .footer_info_a {
      width: 188px;
      height: 200px;
      border-left: 1px solid #E4E4E4;
      float: left; }
      .footer .footer_info .footer_info_a ul {
        color: gray;
        list-style-type: none;
        margin-left: -10px;
        margin-top: -5px; }
        .footer .footer_info .footer_info_a ul li .font {
          font-size: 15px; }
        .footer .footer_info .footer_info_a ul li a {
          font-size: 10px;
          line-height: 30px;
          margin-left: 5px;
          color: gray; }
          .footer .footer_info .footer_info_a ul li a:hover {
            color: #35b558; }
    .footer .footer_info .footer_info_b {
      width: 219px;
      height: 206px;
      float: left;
      color: gray;
      margin-top: -25px;
      padding-top: 25px;
      padding-left: 24px;
      border-left: 1px solid #E4E4E4; }
      .footer .footer_info .footer_info_b span {
        font-size: 15px;
        color: #35b558;
        display: block;
        margin-bottom: 15px;
        font-weight: 500; }
  .footer .app-down {
    width: 219px;
    height: 49px; }
    .footer .app-down a {
      width: 219px;
      height: 49px;
      display: block;
      margin-top: 15px; }
    .footer .app-down strong {
      font-size: 18px;
      color: #666;
      margin-bottom: 8px;
      padding-left: 10px; }
    .footer .app-down p {
      font-size: 14px;
      margin-left: 33px;
      margin-top: 0;
      color: gray;
      background: url(../images/right-icon.png) 125px center no-repeat;
      background-size: 7px 13px; }
  .footer .service_online {
    width: 219px;
    height: 42px;
    margin-top: 15px; }
    .footer .service_online a {
      display: block;
      width: 100%;
      height: 100%; }
    .footer .service_online span {
      font-size: 14px;
      margin-bottom: 2px;
      line-height: 22px;
      padding-left: 5px;
      color: #666;
      margin-left: 38px; }
    .footer .service_online p {
      font-size: 12px;
      margin: 0 auto;
      margin-left: 38px; }
  .footer .share {
    width: 219px;
    height: 32px;
    margin-top: 15px; }
    .footer .share a {
      width: 32px;
      height: 32px;
      display: inline-block; }
  .footer .sharea-bg {
    background: url(../images/icon.png) no-repeat -22px 0px; }
    .footer .sharea-bg:hover {
      background: url(../images/icon.png) no-repeat -22px -40px; }
  .footer .shareb-bg {
    background: url(../images/icon.png) no-repeat -145px 0px; }
    .footer .shareb-bg:hover {
      background: url(../images/icon.png) no-repeat -145px -40px; }
  .footer .sharec-bg {
    background: url(../images/icon.png) no-repeat -21px -82px; }
    .footer .sharec-bg:hover {
      background: url(../images/icon.png) no-repeat -21px -122px; }
  .footer .line-icon {
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/service.png) no-repeat 0 0/80px 40px; }

/* =====================================版权所有============================================ */
.copyRight {
  font-size: 12px;
  color: #999;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  padding: 20px; }
  .copyRight span a {
    color: #999; }

/* ======================================回到顶部=========================================== */
#getTop {
  position: fixed;
  left: 50%;
  margin-left: 510px;
  bottom: 50px;
  width: 34px;
  text-align: center;
  z-index: 500; }
  #getTop #top {
    display: block;
    background: url(../images/floatbox.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
    cursor: pointer; }
    #getTop #top:hover {
      background: url(../images/floatbox2.jpg) 0 0 no-repeat;
      background-size: 34px 103px; }
  #getTop .phone {
    position: relative;
    display: block;
    background: #f7f7f7 url(../images/phone.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0; }
    #getTop .phone:hover {
      background: #f7f7f7 url(../images/phone-2.png) center center no-repeat;
      background-size: 12px 24px; }
    #getTop .phone:hover #appewm {
      display: block; }
    #getTop .phone img {
      width: 126px;
      height: 159px;
      position: absolute;
      z-index: 500;
      left: -126px;
      top: -70px;
      display: none; }
  #getTop .invest {
    display: block;
    background: url(../images/floatbox.jpg) 0 -68px no-repeat;
    background-size: 34px 101px;
    width: 34px;
    height: 34px; }
    #getTop .invest:hover {
      background: url(../images/floatbox2.jpg) 0 -68px no-repeat;
      background-size: 34px 101px; }
  #getTop .serviceOnline {
    position: relative;
    display: block;
    background: #f7f7f7 url(../images/kfu1.png) center center no-repeat;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0; }
    #getTop .serviceOnline:hover .kefu2 {
      display: block; }
    #getTop .serviceOnline .kefu2 {
      position: absolute;
      padding: 5px;
      background: #f7f7f7;
      color: #333;
      font-size: 12px;
      text-align: center;
      width: 180px;
      left: -190px;
      display: none; }

/*# sourceMappingURL=main.css.map */
